*{
    margin: 0;
    padding: 0;
    line-height: 1.45;
}
#body{
    transition: 500ms ease-in-out;
    transition-delay:100ms ;
}
header{
    background-color: rgb(231, 175, 71);
    margin-bottom: 0;
    overflow: hidden;
    height: 5%;
    width: 100%;
    padding: 0;
}
header nav img{
    width: 180px;
    height: 90px;
    float: left;
    margin-left: -50px;
    
}
header nav{
    overflow: hidden;
    position: sticky;
    top: 0%;
}
.navDiv{
    float: right;
    margin-right: 0%;
    margin-top: 20px;
    display: flex;
    /* overflow: hidden; */
    flex-flow: row nowrap;
}

header nav .navDiv  a{
    padding: 10px;
    background-color: rgb(216, 184, 126);
    margin-left: 5px;
    border-radius: 10px ;
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 80%;
    font-weight: 580;
    transition: 500ms ease-in-out;
    outline: none;
}
header nav .navDiv  a i{
    margin-right:10px;
}
header .navDiv a:hover{
    color: ghostwhite;
    padding: 10px;
    margin-top: -5px;
    background-color: dimgrey;
    transition: 500ms ease-in-out;
    outline: none;
    /* border: 3px solid yellow; */
}
#openNav{
    display: none;
}
#closeNav{
    display: none;
}
/* .WltLst{
    display: none; 
}*/
.fas:nth-child(3){
    display: block;
}
.WltLst{
    display: none;
    width: 20%;
    padding-top:5%;
    /* border: 3px solid red; */
    z-index:2;
    box-shadow: -5px -7px 20px grey;
    position:fixed;
    text-align: center;
    top: 0%;
    right: 0%;
    height: 70%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    /* top: 50%; */
    background-color: dimgrey;
    flex-flow: column nowrap;
    transition: 300ms ease-in-out;
}
.WltLst a:first-child{
    display: none;
    width: 20%;
    border: 3px solid blue;
}
.WltLst a:nth-child(2){
    background-color:rgb(184, 183, 182);
    width: 90%;
    border-radius:0;
    margin:5px 0px 40px 0px;
}
.WltLst a:nth-child(3){
    background-color:rgb(184, 183, 182);
    width: 90%;
    border-radius:0;
    margin:5px 0px 40px 0px;

}
.WltLst a:nth-child(4){
    background-color:rgb(184, 183, 182);
    width: 90%;
    border-radius:0;
    margin:5px 0px 40px 0px;
}
.WltLst a:nth-child(5){
    background-color:rgb(184, 183, 182);
    width: 90%;
    border-radius:0;
    margin:5px 0px 40px 0px;
}
section{
    width: 93.5%;
    margin-left:2%;
    background-color: whitesmoke;
    box-shadow: 3px 5px 15px gray, -3px -5px 15px gray;
    border: 1px solid rgb(198, 198, 202);
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding:0px  5px 20px 5px;
}
section h3{
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(211, 129, 129); */
    margin: 40px auto;
    font-size: 150%;
}
section .DatHldr{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    display:flex;
    border: 3px solid rgb(198, 198, 202);
    margin:17px 10px;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 3px 2px 12px rgb(155, 153, 153), -3px -2px 12px rgb(155, 153, 153);
}
section .DatHldr h3{
    margin: 20px auto;
    font-size: 110%;
    border: 2px dashed red ;
}
section .DatHldr .DataCds{
    width: 55%;
    text-align: center;
    margin-bottom: 20px;
}
section .DatHldr .DataCds p:nth-child(2){
    background-color: rgb(234, 255, 41);
    padding: 5px;
    font-size: 110%;
    font-weight: bold;
}
section .DatHldr .DataCds p:nth-child(3){
    background-color: rgb(255, 205, 41);
    padding: 5px;
    font-size: 110%;
    font-weight: bold;
}
section .DatHldr .DataCds p:nth-child(4){
    background-color: rgb(41, 255, 59);
    padding: 5px;
    font-size: 110%;
    font-weight: bold;
}
section .DatHldr .DataCds p:nth-child(5){
    background-color: rgb(255, 48, 41);
    padding: 5px;
    font-size: 110%;
    font-weight: bold;
}
section .DatHldr .DataCds p:nth-child(6){
    background-color: rgb(6, 184, 21);
    padding: 5px;
    font-size: 110%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.DatHldr form div{
    display: none;}
#DATATYPE{
    display: none;
}
select{
    outline: none;
    border: none;
    padding: 12px 20px;
}
form b{
    font-size: 120%;
}
form input{
    outline: none;
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 120%;
}
button{
    width: 100%;
    padding: 10px 0;
    margin-top: 20px ;
    font-size: 150%;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(231, 175, 71);
    border: none;
    outline: none;
}
footer{
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    color: white;
    justify-content: center;
    align-content: center;
    border-top: 5px solid white;
    text-align: center;
    padding: 20px 0;
    
}

.footer{
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    overflow: hidden;
    color: white;
    justify-content: space-evenly;
    } 
.footer div {
    margin:0px 5px;
    max-width: 600px;
    /* width: 100px; */
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90%;
}
.footer div h3{
    margin-bottom: 30px;
    /* padding: 0px 100px;
    width: 100px;
    text-align: center; */
    border: 1px solid white;
}
.footer div ul{
    list-style: none;
    display:flex;
    flex-flow: column nowrap;
    text-align: center;
    margin-bottom: 50px;
}
.footer div ul li{
    padding-bottom: 10px;
    outline: none;
}
.footer div ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    outline: none;
}
.footer div ul li a:hover{
    color: blue;
    text-decoration: underline;
    outline: none;
    z-index: 2;
}
.footer .addrs p{
    /* border: 3px solid red; */
    position: relative;
    text-align: center;
    bottom: 0px;
    font-size: 16px;
    z-index: 2;
}
 /* .fas{
    display: none;
} */
@media screen and (max-width:600px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }
        
    header nav{
        overflow: hidden;
        z-index: 2;
    }
    header nav .navDiv{
        background-color: rgb(14, 13, 13);
        height:100vh;
        position:fixed;
        right: -100%;
        top: -5%;
        width: 50%;
        overflow:auto;
        scroll-behavior: smooth;
        /* top: 0px; */
        display: flex;
        flex-flow: column nowrap;
        z-index: 1;
        transition: 700ms ease-in-out;
        transition-delay: 100ms;
    }
    nav .fas{
        display: block;
        position: absolute;
        right: 0;
        margin-top:5%;
        margin-right: 5%;
        font-size: 30px;
        color: black;
        transition:1000ms;
        /* border: 3px solid red; */
        /* z-index: 2; */
    }
    header .navDiv .fas{
        display: block;
        position: relative;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 25px;
        color: rgb(243, 243, 243);
        /* transform:rotate(90deg); */
        transition:500ms;
        /* border: 3px solid red; */
        padding: 0;
        width: 20px;
    }
    .WltLst{
        display: flex;
        width: 100%;
        position:relative;
        height: 100%;
        padding-top: 5px;
        box-shadow: none;
        overflow:visible;
        border-radius: 0;
        /* padding-bottom: 120px; */
        /* border: 3px solid red */
        background-color: dimgrey;
        flex-flow: column nowrap;
        transition: 300ms ease-in-out;
        z-index: 1;
    }

    .WltLst a:first-child{
        display: none;
        width: 20%;
        border: 3px solid blue;
    }
    .WltLst a:nth-child(2){
        background-color:rgb(184, 183, 182);
        width: 80%;
        border-radius:0;
        margin:5px 0px 5px 0px;
    }
    .WltLst a:nth-child(3){
        background-color:rgb(184, 183, 182);
        width: 80%;
        border-radius:0;
        margin:5px 0px 5px 0px;

    }
    .WltLst a:nth-child(4){
        background-color:rgb(184, 183, 182);
        width: 80%;
        border-radius:0;
        margin:5px 0px 5px 0px;

    }
    .WltLst a:nth-child(5){
        background-color:rgb(184, 183, 182);
        width: 80%;
        border-radius:0;
        margin:5px 0px 5px 0px;
        border: 3px solid blue;

    }
    #openNav{
        display: block;
        position: absolute;
        right: 0;
        margin-top:8%;
        margin-right: 5%;
        font-size: 25px;
        color: black;
        transition:1000ms;
        /* z-index: 2; */
    }
   /* {
        display: block;
        position: absolute;
        right: 0;
        margin-top:8%;
        margin-right: 5%;
        font-size: 25px;
        color: black;
        transition:1000ms;
    } */
    header .navDiv  #closeNav{
        display: block;
        position: relative;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 25px;
        color: rgb(243, 243, 243);
        /* transform:rotate(90deg); */
        transition:500ms;
        /* border: 3px solid red; */
        padding: 0;
        width: 20px;
    }
    header nav .navDiv a{
        padding: 10px;
        width:70%;
        font-size: 100%;
        margin: 10px 15px;
        align-self:center ;
        transition: 500ms ease-out;
        text-align: center;
        outline: none;
    }
    
    header nav .navDiv a:hover{
        text-align: center;
        width: 60%;
        outline: none;
    }
    section{
            width: 93.5%;
            /* height: 100vh; */
            margin-left:2%;
            font-size: 120%;
            background-color: whitesmoke;
            box-shadow: 3px 5px 15px gray, -3px -5px 15px gray;
            border: 1px solid rgb(198, 198, 202);
            margin-top: 10px;
            border-radius: 15px;
            margin-bottom: 10px;
            padding:0px  5px 20px 5px;
    }
    section h3{
        margin: 20px auto;
        /* border: 2px solid red; */
    }
    section .DatHldr{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
        display:flex;
        border: 3px solid rgb(198, 198, 202);
        margin:17px 10px;
        border-radius: 20px;
        padding: 30px 0;
        box-shadow: 3px 2px 12px rgb(155, 153, 153), -3px -2px 12px rgb(155, 153, 153);
    }
    section .DatHldr .DataCds{
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }
    form b{
        font-size: 110%;
    }
    form input{
        outline: none;
        margin-top: 20px;
        border: none;
        padding: 8px 20px;
        font-size: 110%;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-color: black;
        color: white;
        justify-content:center;
        /* border-top: 10px solid white; */
        /* border-bottom: 10px solid white; */
        padding:40px 0;
    }
    .footer div {
        margin:0px 5px;
        max-width: 320px;
        width: 100px;
        border:none;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 90%;
    }
    .footer div h3{
        margin-bottom: 10px;
        text-align: center;
        /* padding: 0px 100px; */
        width: 100px;
        border: 1px solid white;
        /* border: 3px solid blue; */
    }
    .footer div ul{
        list-style: none;
        display:flex;
        flex-flow: column nowrap;
        text-align: center;
        margin-bottom: 50px;
    }
    .footer div ul li{
        padding-bottom: 10px;
        outline: none;
    }
    .footer div ul li a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        outline: none;
    }
    .footer div ul li a:hover{
        color: blue;
        text-decoration: underline;
        outline: none;
    }
    .footer p{
        position: relative;
        text-align: center;
        bottom: 0px;
        font-size: 10px;
        z-index: 2;
    }
    select{
        width: 60%;
        margin: auto;
    }
    input{
        width: 60%;
        margin: auto;
    }
}
